body {
  background-color: white;
  color: black;
  line-height: 140%;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1%;
  text-align: left;
  font-size: 17px;
}

#about {
  margin-bottom: 10px;
  color: #808080;
  font-size: 15px;
}

#container {
  width: 50%; 
  position: relative;
  margin:0 auto;
  margin-left: 0;
  line-height: 1.4em;
  float: left;
  margin-bottom: 7%;
}

@media only screen and (max-width: 479px){
  #container { width: 100%; }
}

h1 {
  border-left: 80px solid #047b9c;
  font-size: 200%;
  line-height: 80px;
  margin-bottom: 1em;
  margin-top: 1.5em;
  padding-left: 12px;
  text-align: left;
}

h2 {
  border-bottom: 2px solid #047b9c;
  font-size: 150%;
  margin-bottom: 1em;
  margin-top: 3em;
  text-align: left;
}

h3 {
  border-left: 12px solid #047b9c;
  font-size: 150%;
  margin-bottom: 0.1em;
  margin-top: 1em;
  padding-left: 8px;
  text-align: left;
}

h4 {
  /*font-size: 120%;
  margin-bottom: 0.1em;
  margin-top: 1em;
  text-align: left;*/
  border-left: 12px solid #047b9c;
  font-size: 110%;
  margin-bottom: 0.1em;
  margin-top: 1em;
  padding-left: 8px;
  text-align: left;
  margin-left: 15px;
}

ol {
  padding-left: 1.8em;
}

ul {
  padding-left: 2em;
}

ul > ul {
  padding-left: 1em;
}

ul li ul {
  padding-left: 1em;
}

/*ul.caption {
  padding-left: 2.2em;
}*/

li {
  padding-left: 0;
}

dl {
  margin: 0;
}

dt {
  margin: 0.5em 0 0.2em;
}

dd {
  margin: 0 0 0 4em;
}

p.caption {
  margin-left: 0;
}

pre {
  background: none repeat scroll 0 0 #eee;
  line-height: 120%;
  padding: 8px;
  overflow-x: auto;

  margin-left: 15px;
  padding: 8px;
}

pre code {
  background-color: #eee;
}

span.ami {
  background-color: #ccc;
  color: black;
}

.image {
  margin-bottom: 2em;
  margin-top: 2em;
}

address {
  font-style: normal;
  line-height: 110%;
  text-align: right;
}

a:link, a:visited {
  color: #047b9c;
  text-decoration: none;
}

a:active, a:visited {
  color: #047b9c;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

footer {
  margin-top: 2em;
}

body {
  font-family: Georgia,serif;
}

h1 code, h2 code, h3 code, h4 code, h5 code {
  font-family: Menlo,Monaco,"Andale Mono","Lucida console","courier New",monospace;
  font-weight: normal;
}

pre {
  font-family: Menlo,Monaco,"Andale Mono","Lucida console","courier New",monospace;
  font-size: 0.9em;
}

code {
  font-family: Menlo,Monaco,"Andale Mono","Lucida console","courier New",monospace;
  font-size: 0.8em;
}

h1#chapter {
  font-size: 150%;
}

th {
  padding-right: 0.5em;
}

pre.longlist, pre.screen {
  background: none repeat scroll 0 0 #eee;
  margin-left: 15px;
  padding: 8px;
}

pre.emlist {
  background: none repeat scroll 0 0 white;
  padding-left: 2em;
}

p {
    /*width: 35em;*/
  margin-left: 15px;
}

.image ul {
  font-size: 0.8em;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.image p {
  margin: 0;
}

div.longlist {
  background: none repeat scroll 0 0 #eee;
  font-family: Menlo,Monaco,"Andale Mono","Lucida console","courier New",monospace;
  font-size: 0.8em;
  padding: 8px;
}

div.longlist p {
  margin: 0;
}

code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

@media (max-width: 575px) { 
  h1 {
    line-height: 38px;
  }
}

@media (min-width: 768px) and (max-width: 991px) { 
  h1 {
    line-height: 38px;
  }
}

footer {
  color: #808080;
  font-size: 15px;
  /*text-align: center;*/
}